ion-fab-button{
  --background: #8FDEE6;
}

.left-swipe{
  --background: #7ec3ca;
}
.noPingDisplay{
  font-family: "Lobster Two";
  color: #8FDEE6;
  margin: 2% auto;
  text-align: center;
  font-size: 2em;
}

.noPingImg{
  width: 275px;
  margin: 0 auto;
  margin-top: 44%;
}
