ion-fab-button {
  --background: var(--ion-color-primary);
}

.left-swipe-1, .right-swipe {
  --background: #9ae1e9;
}

.left-swipe-2 {
  --background: #7ec3ca;
}

.noPingDisplay {
  color: var(--ion-color-primary);
  margin: 2% auto;
  text-align: center;
  font-size: 2em;
}

.noPingImg {
  width: 275px;
  margin: 0 auto;
  margin-top: 44%;
}
