<ion-content scroll-y="false">
<!-- <ion-content> -->
  <ion-slides pager="true" options="slideOpts">
    <ion-slide>
      <ion-img src="assets/tutorial_images/tutorialmainmap.png"></ion-img>
      <ion-button class="start-ping" (click)="endTutorial()">
          <ion-label>Skip Tutorial</ion-label>
      </ion-button>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/tutorial_images/tutorialeventbutton.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/tutorial_images/tutorialfriends.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/tutorial_images/tutorialqrcode.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/tutorial_images/tutorialfriendpage.png"></ion-img>
    </ion-slide>

    <ion-slide>
      <ion-img src="assets/tutorial_images/tutorialactivity.png"></ion-img>
      <ion-button class="start-ping" (click)="endTutorial()">
          <ion-label>Finish Tutorial</ion-label>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
