ion-slides {
  height: 100%;
  background-color: black;
}

ion-label{
  color: white;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  margin: 60px 0 40px;
  pointer-events: none;
  object-fit: contain;
}

// :host ::ng-deep .tutorial-map{
//   height: 100%;
//   width: 100%;
//   object-fit: contain;
//   background-repeat: no-repeat;
//   background-image: url('src/assets/tutorial_images/TutorialMap.png');
// }
//
// :host ::ng-deep .tutorial-event{
//   height: 100%;
//   width: 100%;
//   object-fit: contain;
//   background-repeat: no-repeat;
//   background-image: url('src/assets/tutorial_images/TutorialEventButton.png');
// }
//
//
// :host ::ng-deep .tutorial-friends{
//   height: 100%;
//   width: 100%;
//   object-fit: contain;
//   background-repeat: no-repeat;
//   background-image: url('src/assets/tutorial_images/TutorialQRCodeAndMessenger.png');
// }
//
// :host ::ng-deep .tutorial-activity{
//   height: 100%;
//   width: 100%;
//   object-fit: contain;
//   background-repeat: no-repeat;
//   background-image: url('src/assets/tutorial_images/TutorialActivityPage.png');
// }

:host ::ng-deep .start-ping{
  color: #8FDEE6;
}
