<ion-content scroll-y="false">
<!-- <ion-content> -->
  <ion-slides pager="true" options="slideOpts">
    <ion-slide>
      <img src="tutorialmainpage1.png"/>
      <ion-button class="start-ping" (click)="endTutorial()">
          <ion-label>Skip Tutorial</ion-label>
      </ion-button>
    </ion-slide>

    <ion-slide>
      <img src="tutorialmainmap2.png"/>
    </ion-slide>

    <ion-slide>
      <img src="tutorialqrcode.png"/>
      <!-- <img src="tutorialeventbutton.png"/> -->
    </ion-slide>

    <ion-slide>
      <!-- <img src="tutorialqrcode.png"/> -->
      <img src="friendslist.png"/>
    </ion-slide>

    <ion-slide>
      <img src="tutorialfriendpage.png"/>
    </ion-slide>

    <ion-slide>
      <!-- <img src="tutorialqrcode.png"/> -->
      <img src="tutorialmessages.png"/>
    </ion-slide>

    <ion-slide>
      <img src="magicwand1.png"/>
    </ion-slide>

    <ion-slide>
      <img src="magicwand2.png"/>
      <ion-button class="start-ping" (click)="endTutorial()">
          <ion-label>Finish Tutorial</ion-label>
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
