.instabutton{
  --background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.linkedinbutton{
  --background: #0072B1;
}

.snapbutton{
  --background: #FFFC00;
}

.fbbutton{
  --background: #3b5998;
}

.ttbutton{
--background: black;
}

.twitterbutton{
  --background: #00ACEE;
}
