.emptyRequests{
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
  top: 30%;
}

.emptyRequestsLabel{
  position: relative;
  top: 30%;
  text-align: center;
  color: #8FDEE6;
  font-family: 'Lobster Two';
}
