@import url('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css');

#digitalmap {
  width: 100%;
  height: 100%;
}

:host ::ng-deep .marker {
  background-size: cover;
  border-radius: 50%;
  border: solid 3px #8FDEE6;
  box-shadow: 0px 0px 25px #000000;
}

:host ::ng-deep .custom-marker {
  width: 50px;
  height: 50px;
}

.filterButton{
  width: 40px; height: 40px; --background: white; --color: #8fdee6
}

.overlaycontainer {
  position: absolute; z-index: 500; width: 100%
  //box-shadow: 0px 15px 10px -15px #111;
}

:host ::ng-deep .custom-event-marker {
  width: 20px;
  height: 20px;
}

:host ::ng-deep .pulse {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0;
  }
  70% {
    box-shadow: 0 0 0 400px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}