<ion-header>
</ion-header>

<ion-content>
    <ion-progress-bar [value]="currentProgress"></ion-progress-bar>
    <ion-slides [options]="slideOpts" #mySlider (ionSlideDidChange)="slideChanged()">
        <ion-slide>
            <ion-img class="logoimg" src="assets/dolphinpinglogo.png"></ion-img>
            <h1 class="prompt">Ping</h1>
        </ion-slide>
        <ion-slide>
            <h1 class="font-style">Let's Start Simple...</h1>
            <div class="avatar-upload">
                <div class="avatar-edit">
                    <input type="button" (click)="captureImage()">
                    <input type='file' id="imageUpload" accept="image/*;capture=camera" hidden
                           (change)="handleFile($event.target.files)">
                    <label for="imageUpload">
                        <ion-icon style="font-size: 1.65em; color: gray" name="pencil"></ion-icon>
                    </label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview">
                    </div>
                </div>
            </div>
            <ion-card>
                <ion-card-content>
                    <ion-item>
                        <ion-label position="floating">Name</ion-label>
                        <ion-input id="username" [(ngModel)]="name"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Bio</ion-label>
                        <ion-input id="bio"></ion-input>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <h1 class="font-style">Fill out some of your socials</h1>
            <p class="font-style">Optional</p>
            <ion-card style="height: 75%; overflow-y: scroll">
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                            <ion-label position="stacked">Facebook</ion-label>
                            <ion-input id="fb" placeholder="vancityreynolds"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Instagram</ion-label>
                            <ion-input id="ig" placeholder="vancityreynolds"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Twitter</ion-label>
                            <ion-input id="tw" placeholder="vancityreynolds"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Personal Email</ion-label>
                            <ion-input id="peem" [value]="this.auth.auth.currentUser.email" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Snapchat</ion-label>
                            <ion-input id="sc"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">TikTok</ion-label>
                            <ion-input id="tt" placeholder="gordonramsayofficial"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Venmo</ion-label>
                            <ion-input id="ve" placeholder="sree-grandhe"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Professional Email</ion-label>
                            <ion-input id="prem" type="email" placeholder="bill.gates@microsoft.com" type="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">LinkedIn</ion-label>
                            <ion-input id="li" placeholder="williamhgates" type="url"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Website</ion-label>
                            <ion-input id="ws" type="url" placeholder="https://google.com"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Phone</ion-label>
                            <ion-input id="ph" type="number" placeholder="5121234567" type="tel"></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button (click)="swipeBack()" *ngIf="currentProgress != 0.33">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="swipeNext()" *ngIf="currentProgress != 1">
            <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="createProfile()" *ngIf="currentProgress == 1">
            <ion-icon name="checkmark-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
