ion-content{
  --background: #8FDEE6;
}

ion-img{
  width: 250px;
  margin: 0 auto;
  padding-top: 20%;
  padding-bottom: 15%;
}

.creds{
  position: absolute;
  text-align: center;
  color: gray;
  font-size: 9px;
  width: 100%;
  bottom: 0;

}
