ion-content {
  --background: var(--ion-color-primary);
}

ion-img {
  width: 250px;
  margin: 0 auto;
  padding-top: 20%;
  padding-bottom: 15%;
}

.creds {
  text-align: center;
  color: gray;
  font-size: 9px;
  background: var(--ion-color-primary);
}

ion-button {
  display: block;
  margin: 5%;
}

p {
  font-size: 10px;
  text-align: center;
}
