ion-content{
  --background: #8FDEE6;
}

ion-img{
  width: 250px;
  margin: 0 auto;
  padding-top: 20%;
  padding-bottom: 15%;
}

.creds{
  text-align: center;
  color: gray;
  font-size: 9px;
  background: #8FDEE6;
}

ion-list{
  width: 85%;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 15%;
}

ion-button{
  display: block;
  margin: 5%;
}

p{
  font-size: 10px;
  text-align: center;
}
