<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <!-- <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar> -->
    <ion-card *ngFor="let event of (eventsSub | async)">
        <ion-card-header>
            <ion-card-title>{{event.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>{{event.type}}</ion-label>
            <div *ngIf="event.isPrivate">
                <ion-icon name="lock-closed"></ion-icon>
                Private Event
            </div>
            <div *ngIf="!event.isPrivate">
                <ion-icon name="lock-open"></ion-icon>
                Public Event
            </div>
            <ion-button expand="block" (click)="presentEventCreatorModal(event.id)"><ion-icon name="expand" *ngIf="!isMe"></ion-icon><ion-icon name="pencil" *ngIf="isMe"></ion-icon></ion-button>
        </ion-card-content>
    </ion-card>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="(eventsSub | async)?.length != 0">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isMe">
        <ion-fab-button (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
