<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="currentSlide">
        <ion-segment-button value="0">
          <ion-label>Created</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1">
          <ion-label>Invited</ion-label>
        </ion-segment-button>
      </ion-segment>
    <ion-slides #mySlides [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
        <ion-slide>
            <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                        pullingIcon="chevron-down-circle-outline"
                        pullingText="Pull to refresh"
                        refreshingSpinner="circles"
                        refreshingText="Refreshing...">
                </ion-refresher-content>
            </ion-refresher>
            <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
            <ion-img *ngIf="(createdSub | async)?.data.length === 0" class="emptyRequests" src="assets/undraw_Events_re_98ue.svg">
            </ion-img>
            <h2 *ngIf="(createdSub | async)?.data.length === 0" class="emptyRequestsLabel">
                <ion-label>No Created Events</ion-label>
            </h2>
            <ion-card *ngFor="let event of (createdSub | async)?.data">
                <ion-card-header>
                    <ion-card-title>{{event.eventName}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-label>{{event.type}}</ion-label>
                    <div *ngIf="event.isPrivate">
                        <ion-icon name="lock-closed"></ion-icon>
                        Private Event
                    </div>
                    <div *ngIf="!event.isPrivate">
                        <ion-icon name="lock-open"></ion-icon>
                        Public Event
                    </div>
                    <ion-button expand="block" (click)="presentEventCreatorModal(event.id)">
                        <ion-icon name="expand" *ngIf="!isMe"></ion-icon>
                        <ion-icon name="pencil" *ngIf="isMe"></ion-icon>
                    </ion-button>
                </ion-card-content>
            </ion-card>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!((createdSub | async)?.isDone)">
                <ion-infinite-scroll-content
                  loadingSpinner="bubbles"
                  loadingText="Loading more events...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-slide>
        <ion-slide>
            <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                        pullingIcon="chevron-down-circle-outline"
                        pullingText="Pull to refresh"
                        refreshingSpinner="circles"
                        refreshingText="Refreshing...">
                </ion-refresher-content>
            </ion-refresher>
            <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
            <ion-img *ngIf="(invitedSub | async)?.data.length === 0" class="emptyRequests" src="assets/undraw_Delivery_re_f50b.svg">
            </ion-img>
            <h2 *ngIf="(invitedSub | async)?.data.length === 0" class="emptyRequestsLabel">
                <ion-label>No Invited Events!</ion-label>
            </h2>
            <ion-card *ngFor="let event of (invitedSub | async)?.data">
                <ion-card-header>
                    <ion-card-title>{{event.eventName}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-label>{{event.type}}</ion-label>
                    <div *ngIf="event.isPrivate">
                        <ion-icon name="lock-closed"></ion-icon>
                        Private Event
                    </div>
                    <div *ngIf="!event.isPrivate">
                        <ion-icon name="lock-open"></ion-icon>
                        Public Event
                    </div>
                    <ion-button expand="block" (click)="presentEventCreatorModal(event.id)">
                        <ion-icon name="expand"></ion-icon>
                    </ion-button>
                </ion-card-content>
            </ion-card>
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!((invitedSub | async)?.isDone)">
                <ion-infinite-scroll-content
                  loadingSpinner="bubbles"
                  loadingText="Loading more events...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-slide>
    </ion-slides>
   
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isMe">
        <ion-fab-button (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
