<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="handleInput($event)"></ion-searchbar>
    <ion-card *ngFor="let event of myEvents">
        <ion-card-header>
            <ion-card-title>{{event.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>{{event.des}}</ion-label>
            <div *ngIf="event.isPrivate">
                <ion-icon name="lock-closed"></ion-icon>
                Private Event
            </div>
            <div *ngIf="!event.isPrivate">
                <ion-icon name="lock-open"></ion-icon>
                Public Event
            </div>
            <ion-button expand="block" (click)="presentEventCreatorModal(event.id)"><ion-icon name="expand" *ngIf="!isMe"></ion-icon><ion-icon name="pencil" *ngIf="isMe"></ion-icon></ion-button>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isMe">
        <ion-fab-button (click)="addEvent()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
