<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="presentQRModal()">
                <ion-icon class="displayIcon" name="qr-code-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['/circledash']">
                <ion-badge color="accent" *ngIf="unreadPings !== 0">{{this.unreadPings}}</ion-badge>
                <ion-icon class="displayIcon" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <app-physicalmap></app-physicalmap>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="menu"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button (click)="presentEventCreatorModal('')">
                <ion-icon name="add-circle"></ion-icon>
            </ion-fab-button>
            <ion-fab-button [routerLink]="['/eventmanager/', currentUserId]">
                <ion-icon name="calendar-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
