<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img class="logoimg" src="assets/dolphinwhitepinglogo.png">
  </ion-img>
  <h1 class="prompt">Scan to link with friends!</h1>


 <canvas #canvas hidden></canvas>

  <ion-buttons>
    <ion-button (click)="scan()"><ion-icon name="camera"></ion-icon></ion-button>
    <ion-button (click)="captureImage()">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-button>
  </ion-buttons>
<input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>QR Code</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>

</ion-content>
