ion-card-header{
  text-align: center;
}

ion-button{
  display: block;
}

ion-avatar{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: solid 4px lightgray;
}

ion-refresher-content{
  background: var(--ion-color-primary);
}