<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="presentSettingsModal()">
                <ion-icon class="displayIcon" name="cog"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="presentRequestsPage()">
                <ion-badge *ngIf="(requestAmount | async) !== 0">{{requestAmount | async}}</ion-badge>
                <ion-icon name="person-add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar animated (ionInput)="handleInput($event)"></ion-searchbar>
    <ion-list>
        <ion-img *ngIf="(links | async)?.data.length === 0" src="assets/nolinks.svg" class="addLinksImg"></ion-img>
        <h1 *ngIf="(links | async)?.data.length === 0" class="addLinkDisplay">No Links Yet!</h1>
        <ion-item *ngFor="let link of (links | async)?.data" [routerLink]="['/userprofile/', link.uid]">
            <ion-avatar slot="start">
                <ion-img src="{{link.profilepic}}"></ion-img>
            </ion-avatar>
            <ion-label>
                <h2>{{link.name}}</h2>
                <p>{{link.bio}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!((links | async)?.isDone)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
