ion-content ion-toolbar {
  --background: translucent;
}

ion-searchbar{
  padding-top: 15px;
}

.addLinkDisplay{
  font-family: "Lobster Two";
  color: #8FDEE6;
  margin: 2% auto;
  text-align: center;
  font-size: 2em;
}

.addLinksImg{
  width: 275px;
  margin: 0 auto;
  margin-top: 44%;
}
