ion-content ion-toolbar {
  --background: translucent;
}

ion-searchbar {
  padding-top: 15px;
}

.addLinkDisplay {
  color: var(--ion-color-primary);
  margin: 2% auto;
  text-align: center;
  font-size: 2em;
}

.addLinksImg {
  width: 275px;
  margin: 0 auto;
  margin-top: 44%;
}
