<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" value="cc">
        <ion-segment-button value="cc">
            <ion-label>Create Code</ion-label>
        </ion-segment-button>
        <ion-segment-button value="sc">
            <ion-label>Scan Code</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div *ngIf="displayScan">
        <ion-img class="logoimg" src="assets/dolphinwhitepinglogo.png">
        </ion-img>
        <h1 class="prompt">Scan to link with friends!</h1>
        <canvas #canvas hidden></canvas>
        <ion-buttons>
            <ion-button class="scanButtons" (click)="scan()">
                <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-button class="scanButtons" (click)="captureImage()">
                <ion-icon name="cloud-upload"></ion-icon>
            </ion-button>
        </ion-buttons>
        <input #fileinput type="file" accept="image/*" hidden (change)="handleFile($event.target)">
    </div>
    <!--    TODO Change from API to Library-->
    <div *ngIf="!displayScan">
        <ion-img class="qrcode" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{qrData}}">
        </ion-img>
        <ion-item style="--background: transparent;">
            <ion-button href="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{qrData}}&download=1"
                        class="downloadButton">Download
            </ion-button>
        </ion-item>
        <ion-list style="margin-top: 2%">
            <ion-item>
                <ion-icon class="displayIcon phicon" name="call"></ion-icon>
                <ion-label>
                    Phone Number
                </ion-label>
                <ion-toggle [(ngModel)]="phone" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon micon" name="mail"></ion-icon>
                <ion-label>
                    Email
                </ion-label>
                <ion-toggle [(ngModel)]="email" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon igicon" name="logo-instagram"></ion-icon>
                <ion-label>
                    Instagram
                </ion-label>
                <ion-toggle [(ngModel)]="instagram" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon scicon" name="logo-snapchat"></ion-icon>
                <ion-label>
                    Snapchat
                </ion-label>
                <ion-toggle [(ngModel)]="snapchat" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon fbicon" name="logo-facebook"></ion-icon>
                <ion-label>
                    Facebook
                </ion-label>
                <ion-toggle [(ngModel)]="facebook" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon tticon" name="musical-note"></ion-icon>
                <ion-label>
                    TikTok
                </ion-label>
                <ion-toggle [(ngModel)]="tiktok" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon twicon" name="logo-twitter"></ion-icon>
                <ion-label>
                    Twitter
                </ion-label>
                <ion-toggle [(ngModel)]="twitter" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon vicon" name="card"></ion-icon>
                <ion-label>
                    Venmo
                </ion-label>
                <ion-toggle [(ngModel)]="venmo" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon liicon" name="logo-linkedin"></ion-icon>
                <ion-label>
                    LinkedIn
                </ion-label>
                <ion-toggle [(ngModel)]="linkedin" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon pmicon" name="mail"></ion-icon>
                <ion-label>
                    Professional Email
                </ion-label>
                <ion-toggle [(ngModel)]="professionalemail" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon gicon" name="link"></ion-icon>
                <ion-label>
                    Website
                </ion-label>
                <ion-toggle [(ngModel)]="website" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-icon class="displayIcon" name="location"></ion-icon>
                <ion-label>
                    Location
                </ion-label>
                <ion-toggle [(ngModel)]="location" checked="true" (ionChange)="updateVals()"></ion-toggle>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
