<ion-card>
  <ion-card-content>
    <div style="display: flex;" >
      <div class="entityWrapper">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>User Name</ion-label>
      </div>
      <div style="width: 20%;">
        <ion-icon name="arrow-forward" id="attendingIcon"></ion-icon>
      </div>
      <div class="entityWrapper">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Event Name</ion-label>
      </div>
    </div>
    <ion-button expand="block"><ion-icon name="expand"></ion-icon></ion-button>
  </ion-card-content>
</ion-card>
