#map {
  height: 100%;
  width: 100%;
}

:host ::ng-deep .mapboxgl-popup-close-button {
  display: none;
}

:host ::ng-deep .mapboxgl-popup-content {
  text-align: center;
  border-radius: 15px;
  padding: 0 20px;
}

:host ::ng-deep .marker-style {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 115px 115px;
  border-radius: 50%;
  background-position: center;
  box-shadow: 0px 0px 15px #000000;
}
  //background-image: url('')

:host ::ng-deep .geoping-info{
  border-top: 10px solid #FFFFFF;
}
:host ::ng-deep .ping-marker{
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 115px 115px;
  border-radius: 50%;
  background-position: center;
  box-shadow: 0px 0px 15px #000000;
  background-image: url('src/assets/ping_markers/geoping100.png');
}

:host ::ng-deep .party-marker{
  &.full{
    background-image: url('src/assets/ping_markers/party100.png');
  }
  &.three-quarters{
    background-image: url('src/assets/ping_markers/party75.png');
  }
  &.half{
    background-image: url('src/assets/ping_markers/party50.png');
  }
  &.quarter{
    background-image: url('src/assets/ping_markers/party25.png');
  }
  &.empty{
    background-image: url('src/assets/ping_markers/party0.png');
  }
}

:host ::ng-deep .professional-marker{
  &.full{
    background-image: url('src/assets/ping_markers/networking100.png');
  }
  &.three-quarters{
    background-image: url('src/assets/ping_markers/networking75.png');
  }
  &.half{
    background-image: url('src/assets/ping_markers/networking50.png');
  }
  &.quarter{
    background-image: url('src/assets/ping_markers/networking25.png');
  }
  &.empty{
    background-image: url('src/assets/ping_markers/networking0.png');
  }
}

:host ::ng-deep .hangout-marker{
  &.full{
    background-image: url('src/assets/ping_markers/hangout100.png');
  }
  &.three-quarters{
    background-image: url('src/assets/ping_markers/hangout75.png');
  }
  &.half{
    background-image: url('src/assets/ping_markers/hangout50.png');
  }
  &.quarter{
    background-image: url('src/assets/ping_markers/hangout25.png');
  }
  &.empty{
    background-image: url('src/assets/ping_markers/hangout0.png');
  }
}

:host ::ng-deep .cluster{
  &.ping{
    background-image: url('src/assets/ping_markers/geoping100.png');
  }
  &.party{
    background-image: url('src/assets/ping_markers/party100.png');
  }
  &.professional{
    background-image: url('src/assets/ping_markers/networking100.png');
  }
  &.hangout{
    background-image: url('src/assets/ping_markers/hangout100.png');
  }
  &.partyprofessional{
    background-image: url('src/assets/ping_markers/partynetwork.png');
  }
  &.partyhangout{
    background-image: url('src/assets/ping_markers/hangoutparty.png');
  }
  &.professionalhangout{
    background-image: url('src/assets/ping_markers/hangoutnetwork.png');
  }
  &.all{
    background-image: url('src/assets/ping_markers/all3.png');
  }
}

.clusterList{
  max-height: 600px;
  overflow-y: scroll;
}

:host ::ng-deep .person-location{
  width: 35px;
  height: 35px;
  background-size: cover !important;
  background-position: center !important;
  border-style: solid;
  border-color: #8fdee6;
  border-width: 3px;
}

.overlaycontainer {
  position: absolute; z-index: 3; width: 100%
}


.filterButton{
  width: 40px; height: 40px; --background: white; --color: #8fdee6
}
