<ion-img *ngIf="eventId === ''" class="emptyRequests" src="assets/undraw_Waiting__for_you_ldha.svg">
</ion-img>
<h2 *ngIf="eventId === ''" class="emptyRequestsLabel">
    <ion-label>Check In to an Event</ion-label>
</h2>

<ion-card *ngIf="eventId !== ''">
    <ion-card-header>
        <ion-card-title>{{(eventDetails | async)?.data.eventName}}</ion-card-title>
        <ion-card-subtitle>By {{(eventDetails | async)?.data.creator.name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: center">
        <ion-button (click)="checkOut()">
            <ion-icon name="log-out"></ion-icon>
        </ion-button>
        <ion-button (click)="openEventModal()">
            <ion-icon [name]="(eventDetails | async)?.data.creator.uid !== this.currentUserId ? 'expand' : 'create'"></ion-icon>
        </ion-button>
        <ion-button *ngIf="(eventDetails | async)?.data.creator.uid !== this.currentUserId" (click)="messageUser(eventCreatorId)">
            <ion-icon name="send"></ion-icon>
        </ion-button>
    </ion-card-content>
</ion-card>
<ion-card *ngIf="eventId !== ''">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="chevron-down-circle-outline"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card-content>
        <div *ngIf="(attendees | async)?.data.length === 0">
            <ion-img src="assets/nolinks.svg" class="emptyRequests"></ion-img>
            <h1 class="emptyRequestsLabel">No attendees Yet!</h1>    
        </div>
        <ion-list>
            <ion-item-sliding *ngFor="let attendee of (attendees | async)?.data">
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-img src="{{attendee.profilepic}}"></ion-img>
                    </ion-avatar>
                    <ion-label>
                        <h2>{{attendee.name}}</h2>
                        <p>{{attendee.bio}}</p>
                    </ion-label>
                </ion-item>
                <ion-item-options *ngIf="attendee.uid !== this.currentUserId">
                    <ion-item-option (click)="messageUser(attendee)">
                        <ion-icon name="send"></ion-icon>
                    </ion-item-option>
                    <ion-item-option style="--background: #7ec3ca;" (click)="sendRequest(attendee.id)">
                        <ion-icon name="person-add"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="!((attendees | async)?.isDone)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card-content>
</ion-card>
