.eventCreateContainer {
  height: auto;
  width: 100%;
}

#choosermap {
  margin: 2%;
}

#geocoder-container {
  margin: 0 auto;
  width: 95%;
}

.eventMenu{
  margin: 2%
}

.eventMenu ion-button{
  width: 100%;
}
