<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar animated (ionInput)="handleInput($event)"></ion-searchbar>
    <ion-list id="memberList">
        <ion-item *ngFor="let link of links">
            <ion-avatar slot="start">
                <img src="{{link.img}}">
            </ion-avatar>
            <ion-label>
                <h2>{{link.name}}</h2>
                <p>{{link.bio}}</p>
            </ion-label>
            <ion-toggle id="{{link.id}}"></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-select id="sendingMessageSelect" placeholder="Select One" style="float: left; width: 90%">
            <ion-select-option *ngFor="let i of [0,1,2,3,4]"
                               value="{{currentUser.sendingMessage[i]}}">{{currentUser.sendingMessage[i]}}</ion-select-option>
        </ion-select>
        <ion-buttons>
            <ion-button style="margin: 0 auto" (click)="sendPing()">
                <ion-icon name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

