.send-ping-button {
  margin: 1%;
  float: right;
}

.inputText {
  float: left;
  width: 83%;
  margin: 1% 0;
}

.addLinkDisplay {
  color: var(--ion-color-primary);
  margin: 2% auto;
  text-align: center;
  font-size: 2em;
}

.addLinksImg {
  width: 275px;
  margin: 0 auto;
  margin-top: 44%;
}