<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type="button" (click)="captureImage()">
            <input type='file' id="imageUpload" accept="image/*;capture=camera" hidden
                   (change)="handleFile($event.target.files)">
            <label for="imageUpload">
                <ion-icon style="font-size: 2em; color: gray" name="pencil"></ion-icon>
            </label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview">
            </div>
        </div>
    </div>
    <ion-item lines="none">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input id="username" value='{{currentUser.name}}'></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Bio</ion-label>
                    <ion-input id="bio" value="{{currentUser.bio}}"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item lines="none">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Facebook</ion-label>
                    <ion-input id="fb" value="{{currentUser.facebookID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Instagram</ion-label>
                    <ion-input id="ig" value="{{currentUser.instagramID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Twitter</ion-label>
                    <ion-input id="tw" value="{{currentUser.twitterID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">LinkedIn</ion-label>
                    <ion-input id="li" value="{{currentUser.linkedinID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Personal Email</ion-label>
                    <ion-input id="peem" value="{{currentUser.personalEmailID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Professional Email</ion-label>
                    <ion-input id="prem" value="{{currentUser.professionalEmailID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Snapchat</ion-label>
                    <ion-input id="sc" value="{{currentUser.snapchatID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">TikTok</ion-label>
                    <ion-input id="tt" value="{{currentUser.tiktokID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Venmo</ion-label>
                    <ion-input id="ve" value="{{currentUser.venmoID}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Website</ion-label>
                    <ion-input id="ws" value="{{currentUser.websiteID}}"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-card>
        <ion-card-header>
            <ion-card-title>My Interests</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>
                        1
                    </ion-label>
                    <ion-select>
                        <ion-select-option>
                            Football
                        </ion-select-option>
                        <ion-select-option>
                            Soccer
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>
                        2
                    </ion-label>
                    <ion-select>
                        <ion-select-option>
                            Football
                        </ion-select-option>
                        <ion-select-option>
                            Soccer
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>
                        3
                    </ion-label>
                    <ion-select>
                        <ion-select-option>
                            Football
                        </ion-select-option>
                        <ion-select-option>
                            Soccer
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>
                        4
                    </ion-label>
                    <ion-select>
                        <ion-select-option>
                            Football
                        </ion-select-option>
                        <ion-select-option>
                            Soccer
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>
                        5
                    </ion-label>
                    <ion-select>
                        <ion-select-option>
                            Football
                        </ion-select-option>
                        <ion-select-option>
                            Soccer
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Match Tolerance</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-range min="10" max="90" step="2">
                <ion-icon size="small" slot="start" name="person-circle-outline" color="gray"></ion-icon>
                <ion-icon slot="end" name="person-circle-outline" color="gray"></ion-icon>
            </ion-range>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="submit-button" (click)="updateSettings()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
