<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <ion-img class="mainlogo" src="../assets/PingWordsLogo.png"></ion-img>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon name="log-out" style="color:#eb445a"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type="button" (click)="captureImage()">
            <input type='file' id="imageUpload" accept="image/*;capture=camera" hidden
                   (change)="handleFile($event.target.files)">
            <label for="imageUpload">
                <ion-icon style="font-size: 2em; color: gray" name="pencil"></ion-icon>
            </label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview">
            </div>
        </div>
    </div>
    <ion-item lines="none">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Name</ion-label>
                    <ion-input id="username" value='{{(currentUserBasic | async)?.name}}'></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Bio</ion-label>
                    <ion-input id="bio" value="{{(currentUserBasic | async)?.bio}}"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-item lines="none">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Facebook</ion-label>
                    <ion-input id="fb" value="{{(currentUserSocials | async)?.facebook}}" placeholder="vancityreynolds"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Instagram</ion-label>
                    <ion-input id="ig" value="{{(currentUserSocials | async)?.instagram}}" placeholder="vancityreynolds"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Twitter</ion-label>
                    <ion-input id="tw" value="{{(currentUserSocials | async)?.twitter}}" placeholder="vancityreynolds"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">LinkedIn</ion-label>
                    <ion-input id="li" value="{{(currentUserSocials | async)?.linkedin}}"
                               placeholder="williamhgates" type="url"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Personal Email</ion-label>
                    <ion-input id="peem" value="{{(currentUserSocials | async)?.personalEmail}}" type="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Professional Email</ion-label>
                    <ion-input id="prem" value="{{(currentUserSocials | async)?.professionalEmail}}" type="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Snapchat</ion-label>
                    <ion-input id="sc" value="{{(currentUserSocials | async)?.snapchat}}" placeholder="calvinharris"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">TikTok</ion-label>
                    <ion-input id="tt" value="{{(currentUserSocials | async)?.tiktok}}" placeholder="gordonramsayofficial"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Venmo</ion-label>
                    <ion-input id="ve" value="{{(currentUserSocials | async)?.venmo}}" placeholder="sree-grandhe"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Phone</ion-label>
                    <ion-input id="ph" value="{{(currentUserSocials | async)?.phone}}" type="tel" placeholder="5121234567"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Website</ion-label>
                    <ion-input id="ws" value="{{(currentUserSocials | async)?.website}}" type="url" placeholder="https://google.com"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="submit-button" (click)="updateSettings()">
            <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
